*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Rubik', sans-serif;
}

body{
    background-color: rgb(19, 19, 19);
    color: white;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.ratio-buttons{
    background-color: rgb(34, 34, 34);
    text-align: end;
    padding: 10px;
}

.top-buttonL{
    display: inline-block;
    background-color: rgb(66, 66, 66);
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

.top-buttonS{
    display: inline-block;
    display: inline-block;
    background-color: rgb(66, 66, 66);
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
}

.users-space{
    flex-grow: 2;
    align-items: center;
    justify-content: center;
    width: calc(100/6);
    flex-wrap: wrap;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.user-card{
    background-image: url(profile-image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 200px;
    height: 100px;
    margin: 5px;
}

.bottom-buttons{
    background-color: rgb(34, 34, 34);
}